{deps, [
{backoff,".*",{git,"https://github.com/ferd/backoff","1.1.6"}},{envy,".*",{git,"../../envy","0.9.2"}},{msmp,".*",{git,"../../msmp","0.1.2"}},{telemetry,".*",{git,"https://github.com/beam-telemetry/telemetry.git","v1.1.0"}}
]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard]}.
